
header{
    background-color: #808000;
    overflow: hidden;
    padding: 40px;
}
header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
header nav ul li {
    float: left;
}
header nav ul li a {
    display: block;
    color:bisque;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}
header nav ul li a hover{
    background-color: aquamarine;
}
.menu-icon {
    display: none;
}
@media (max-width: 600px) {
    header nav ul li :not(:last-child){
        display: none;
    }
    header.responsive nav ul li.menu-icon {
        float: right;
        display: block;
    }
    header.resposive nav ul li {
        float: none;
        display: block;
        text-align: left;
    }
    header.responsive nav ul li.menu-icon{
        position: absolute;
        right: 0;
        top: 0;
    }
}
.slider{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.slides{
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.slide{
    min-width: 100%;
    box-sizing: border-box;
}
.slide img {
    width: 100%;
    display: block;
}
button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}
.prev{
    left: 10px;
    font-size: 25px;
}
.next{
    right: 10px;
    font-size: 25px;
}
footer{
    width: 100%;
    text-align: center;
    padding: 50px;
    background-color: #f5f5dc;
    font-size: 25px;
}
footer p{
    margin: 0;
}
